/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 300px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */
:root {
  --text: #fff;
  --hover: #bdbdbd;
}

header {
  background-color: #ff385c;
  padding: 0px;
  text-align: center;
  align-items: center;

}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: var(--text);
  margin: 20px
}

header nav {
  display: flex;
  justify-content: center
}

header nav ul {
  display: flex;
  list-style-type: none;
}

header nav ul li a {
  color: var(--text);
  text-decoration: none;
  padding: 0 10px 0 0;
}

header nav ul li a:hover {
  color: var(--hover);
  text-decoration: underline;
}

/* -------  Search Form ------- */
form {
  width: fit-content;
  display: flex;
  flex-wrap: wrap;
  border: 2px solid #ff385c;
  padding: 10px;
}

form label {
  font-weight: bold;
  width: 100%; 
}

form div {
  display: flex;
  justify-content: space-between;
}

form select,
form input {
  margin-bottom: 20px;
  width: 140px; 
}
form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */

@media all and (min-width: 490px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 0px;
  }

  header h1 {
    margin: 0;
    padding-top: 0;
  }

  header nav {
    margin-top: 0px;
  }

  header nav ul li a:hover {
    color: #bdbdbd;
  }

  .logo {
    margin: 10px 0 10px 20px
    font-size: 40px; 
  }

  nav {
    padding-top: 0px; 
  }

  header nav ul li {
    display: inline-block; 
    margin-right: 20px; 
  }
}
  /* -------  Search Form ------- */
  form {
    display: flex; 
    flex-direction: center;
    justify-content: center;
    border: 2px solid #ff385c;
    
    width: 100%; /* Make the form stretch from left to right of the screen */
  }
  
  form label {
    font-weight: bold;
    display: flex;
  }

  form div {
    flex-direction: column;
  }
  
  form select,
  form input {
    display: flex;
    margin-bottom: 20px;
    width: 100%; /* Make input fields take up full width */
  }
  
  form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 15px;
    width: 100%; /* Make the button take up full width */
  }

  /* -------  Footer ------- */
  footer {
    padding: 20px 40px; 
  }
